pandas
numpy
matplotlib
python-dotenv

streamlit
opencv-python
pdf2image
PyMuPDF

# For generating the certificate
python-docx
docx2pdf
reportlab

pillow  # Required by tesseract (allthough easyocr depends on it as well)
beautifulsoup4
pytesseract
easyocr
# Torch is recommended to use a gpu to speed up the ocr
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu126

# Might require updating 
# sudo apt-get update
# sudo apt-get updating mesa
# sudo apt-get install libgl1-mesa-glx
