streamlit  # Web app
python-dotenv  # .env support
pandas  # Data manipulation magic
numpy  # Math magic
beautifulsoup4  # Dealing with HTML in emails
opencv-python  # cv2
pytesseract  # OCR magic
pdf2image  # Dealing with PDFs
# Might require updating 
# sudo apt-get updating mesa
# sudo apt-get install libgl1-mesa-glx