# Uncomment the file to apply the theme changes

[theme]
base = "light"
primaryColor = "#003664"
backgroundColor = "#ffffff"
secondaryBackgroundColor = "#4bb8e7"
textColor = "#003664"
# font = "sans serif"

#[server]
# enableCORS = false
#port = 8501
#headless = true

[client]
gatherUsageStats = false
